@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@1,700&display=swap');

*,html{
    margin:0;
    padding:0;
}
body{
  font-size: x-large;
  font-family: 'Montserrat', sans-serif;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    margin-top: 2rem;
    margin-left: 33rem;
    padding:1rem 2rem;
    background-color: #f87133;
    width:max-content;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:white;
}
.desc{
    margin-top: 3rem;
    margin-left: 22rem;
    padding:1rem 2rem;
    background-color: #f87133;
    width:max-content;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:white;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:2rem;
}

input, button{
    background-color: #f87133;
    color:white;
    margin:1rem;
    padding:1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
}

button:hover{
    background-color: black;
    color: white;
}

.display{
    text-align:center;
    color:#f87133;
    font-weight:bolder;
    font-size: larger;
    text-shadow: 1px 1px black;
}